<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Transit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="error ion-text-center">
    {{errorMessage}}
  </div>
  
  <form [formGroup]="LoginForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="inputUsername" type="text" id="inputUsername"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="inputPassword" type="password" id="inputPassword"></ion-input>
    </ion-item>
    <ion-button type="submit" color="primary" class="ion-margin" expand="block">Login</ion-button>
  </form>

 

  <div class="ion-text-center register">
    <br>
    <a class="register" (click)="gotoReg()"><u>Register</u></a>
  </div>

  {{display}}

</ion-content>
