<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Navigate</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            
            <ion-item (click)="gotoHome()" lines="none" detail="false">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>

            <ion-item (click)="gotoAdd()" lines="none" detail="false">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              <ion-label>Add</ion-label>
            </ion-item>

            <ion-item (click)="gotoReports()" lines="none" detail="false">
              <ion-icon slot="start" name="help-buoy-outline"></ion-icon>
              <ion-label>Reports</ion-label>
            </ion-item>

            <ion-item (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Signout</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" [swipeGesture]="false"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
