<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Edit Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-margin">Edit Employee</h3>
  <div class="error ion-text-center">
    {{errorMessage}}
  </div>
  
  <form [formGroup]="editForm" (ngSubmit)="submit()" *ngIf="editForm">
    <h4 class="ion-margin">Person Details</h4>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="fname" type="text" id="fname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lname" type="text" id="lname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input formControlName="address" type="text" id="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Department</ion-label>
      <ion-select placeholder="Select Department" formControlName="department">
        <ion-select-option value="Finance">Finance</ion-select-option>
        <ion-select-option value="Transport">Transport</ion-select-option>
        <ion-select-option value="Office">Office</ion-select-option>
        <ion-select-option value="Executive">Executive</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <h4 class="ion-margin">Licence Details</h4>
    <ion-item>
      <ion-label position="floating">Licence No.</ion-label>
      <ion-input formControlName="licencenumber" type="number" id="licencenumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Card No.</ion-label>
      <ion-input formControlName="licencecardnumber" type="number" id="licencecardnumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Expiry</ion-label>
      <ion-input formControlName="licenceexpiry" type="date" id="licenceexpiry"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Back No.</ion-label>
      <ion-input formControlName="licencebacknumber" type="number" id="licencebacknumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Licence Class</ion-label>
      <ion-select placeholder="Select Class" formControlName="licenceclass">
        <ion-select-option value="C">C</ion-select-option>
        <ion-select-option value="R">R</ion-select-option>
        <ion-select-option value="LR">LR</ion-select-option>
        <ion-select-option value="MR">MR</ion-select-option>
        <ion-select-option value="HR">HR</ion-select-option>
        <ion-select-option value="HC">HC</ion-select-option>
        <ion-select-option value="MC">MC</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Licence Conditions</ion-label>
      <ion-select placeholder="Select Condition" formControlName="licencecondition">
        <ion-select-option value="LRN">LRN (Learner)</ion-select-option>
        <ion-select-option value="P1">P1 (Red P)</ion-select-option>
        <ion-select-option value="P2">P2 (Green P)</ion-select-option>
        <ion-select-option value="Full">Full Licence</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error ion-text-center">
      {{errorMessage}}
    </div>
    <ion-button type="submit" color="primary" class="ion-margin" expand="block">Submit</ion-button>
  </form>
</ion-content>
