.error{
    color: red;
}

.addIconDiv{
    width: 100%;
    margin-top: 5px;
}

.addIconBorder{
    border-color: white;
    border-radius: 50px;
    border-style: solid;
    width: 100px;
    margin: auto;
}

.addIcon{
    font-size: 64px;
    margin-left: 15%

}