<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let  employee of employees | async "> 
    <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="edit(employee.id)">Edit</ion-item-option>
        <ion-item-option color="danger" (click)="deleteConfirm(employee.id)">Delete</ion-item-option>
      </ion-item-options>
    
      <ion-item (click)="gotoView(employee.id)">
      <p class="leftside">
          <strong>{{ employee.fname }} {{ employee.lname }}</strong>
          <br>
          Department: {{ employee.department }}
          <br>
          <span class="displayid">ID: {{ employee.id }}</span>
          <br>
      </p>
      
      <div class="ion-margin rightside">
        <ion-icon name="chevron-forward-outline" size="large"></ion-icon>
      </div>
      
      </ion-item>
    </ion-item-sliding>
  </div>
  <ion-button color="secondary" class="ion-margin" expand="block" (click)="gotoAdd()">Add Employee</ion-button>
</ion-content>
