<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let  employee of employees | async "> 
    <ion-item>
     <p>
       {{ employee.id }}
       <br>
       {{ employee.fname }}
       <br>
       {{ employee.lname }}
     </p>
     <ion-button color="primary" (click)="edit(employee.id)"> Edit </ion-button>
     <ion-button color="danger" (click)="deleteConfirm(employee.id)"> Delete </ion-button>
    </ion-item>
  </div>
  <ion-button color="primary" class="ion-margin" expand="block" (click)="gotoAdd()">Add Employee</ion-button>
</ion-content>
