.displayid{
    color: grey;
    font-size: small;

}

.details{
    color: #3880ff;
    font-size: small;
    margin-left: 17%;
    text-decoration: underline;
}

.leftside{
    margin-left: 0px;
}

.rightside{
    position: absolute;
    right: 0;
    top: 25;
}