<ion-header>
  <ion-toolbar color="primary">
    <ion-icon (click)="back()" size="large" name="chevron-back-outline" slot="start"></ion-icon>
    <ion-title>Transit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="error ion-text-center">
    {{errorMessage}}
  </div>

  <form [formGroup]="RegisterForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="inputEmail" type="email" id="inputEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="inputPassword" type="password" id="inputPassword"></ion-input>
    </ion-item>
    <ion-button type="submit" color="danger" class="ion-margin" expand="block">Register</ion-button>
  </form>

  <div class="ion-text-center register">
    <br>
    <a class="register" (click)="gotoLogin()"><u>Already have an account?</u></a>
  </div>

  {{display}}
</ion-content>
